@import "../../styles/main.scss";


.rigthWrapper {
    position: fixed;
    background-color: $color-background-rigth;
    margin-left: 75vw;
    height: 100vh;

    &__container {
        position: relative;
        width: 25vw;
    }
}