@import "../../styles/main.scss";


.mainWrapper {
    width: calc(67.5vw - 6rem);
    min-height: 100vh;
    background-color: $color-background-main;
    margin-left: 7.5vw;
    padding-left: 3rem;
    padding-right: 3rem;

    @media (min-width:$screen-large-max) {
        // width: calc(65vw - 20rem);
        // padding-left: 10rem;
        // padding-right: 10rem;
    }
}