@import "../../styles/main.scss";

.item {
    display: inline-block;
    position: relative;
    width: 11rem;

    margin-right: 60px;
    margin-bottom: 20px;


    &__container {
        width: 11rem;
    
        cursor: pointer;
        background-color: $color-background-item;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 500;
        padding: 15px;
    }

  

    &__btn {
        position: absolute;
        right:-20px;
        top: 11px;

        background-color: $color-background-item;
        padding: 7px;

        &--color {
            color:$color-backdrop;
        }

        &:hover {
            border: 1px solid $color-backdrop;
            // border-radius: 50%;
        }
    }

}
