

input {
    &:invalid {
        border: 1px solid #960909;
    }

    &:focus {
        box-shadow: 0px 0px 11px 3px rgba(194,192,194,1);
    }
}

.inputErrors {
    font-size: 12px;
    color: #960909;

    &--category {
        margin-bottom: 5px;
    }
}

