
$color-text-nav:#454545;
$color-text:#000000;
$color-backdrop:#BDBDBD;

$color-background-nav:#FFFF;
$color-background-main:#FAFAFE;
$color-background-rigth:#FFF0DE;
$color-background-item:#FFFF;

$color-completed:#56CCF2;
$color-error:#EB5757;

$color-primary:#F9A109;

$screen-large-max : 1024px;
