@import "../../styles/main.scss";


.wrapperAddItem {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 80%;
    max-width: 15rem;
    height: 6rem;

    background-color: #80485B;
    border-radius: 24px;
    margin: auto;
    // margin-bottom: .5rem;

    @media (max-width: $screen-large-max) {
        
    }

    &__container {
        width: 55%;

        margin-left: 20px;
    }

    &__svg {
        position: absolute;
        bottom: 10px;
        left: 10px;

        height: 7rem;
    }

    p {
        color:$color-background-item;
        font-size: 13px;
        font-weight: 700;
    }

    button {
        width: 6rem;
        height: 2rem;

        background-color: $color-background-item;
        border-radius: 12px;
        font-family:'Quicksand', sans-serif; ;
        font-size: 12px;
        font-weight: 700;
    }
}
